/* 기본스타일 */
/* width, height */
.size-test{
	border: 2px solid red;
}
#fixed-size{
	width: 200px;
	height: 200px;
}
#variable-size{
	width: 50%;
	/* 부모기준(body)의 50% */
	height: 200px;
}

/* 화면 배치 방법 변경 */
.display{
	border: 2px solid black;
	width: 150px;
	height: 50px;
	color: white;
}

.area1{
	background-color: red;
}
.area2{
	background-color: orange;
}
.area3{
	background-color: yellow;
}
.area4{
	background-color: green;
}
.area5{
	background-color: blue;
}

.display-inline{
	display: inline;
}

.display-inline-block{
	display: inline-block;
}

.display-block{
	display: block;
}

/* 테두리 스타일 */
.border{
	width: 100px;
	height: 100px;
	/* border: 1px solid; */
}

#border-test1{
	border-style: 2px none black;
	/* 테두리 없음 */
}
#border-test2{
	border-style: 2px hidden black;
	/* 테두리 숨김 */
	/* box-shadow: -5px -5px 35px 5px gray; */
	/* 1, 2 양수 : 오른쪽 아래쪽  */
	box-shadow: -5px -5px 35px 5px gray inset;
}
#border-test3{
	border-style: dashed;
}
#border-test4{
	border-style: dotted;
	border-color: hotpink;
	/* border-color : 테두리 전체 색상 */
	border-top-color: red;
	border-left-color: orange;
	border-bottom-color: yellow;
	border-right-color: green;
}

#border-test5{
	border-style: double;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 10px 20px;
}

#border-test6{
	border-style: groove;
	border-width: 10px;
}
#border-test7{
	border-style: inset;
	border-width: 10px;
}
#border-test8{
	border-style: outset;
	border-width: 10px;
}
#border-test9{
	border-style: ridge;
	border-width: 10px;
}
#border-test10{
	border-style: solid;
	border-bottom-right-radius: 30px 50px;
}


/* 여백 스타일 */
.space{
	width: 100px;
	height: 100px;
	background-color: beige;
	display: inline-block;
}

#padding1{
	padding: 10px;
}

#padding2{
	padding-top: 50px;
	padding-right: 100px;
}

#margin1{
	margin: 50px;
}

#margin2{
	margin-top: 80px;
	margin-left: 100px;
}

/* 포지셔닝 */
.outer{
	/* position: static;	기본값 */
	position: relative;
	/* position: absolute; */
	/* offset? */
	/* top: 100px; */
	/* left: 100px; */
}

#first{
	width: 300px;
	height: 300px;
	background-color: yellow;

}

#second{
	width: 200px;
	height: 200px;
	background-color: seagreen;
	position: absolute;
	top: 50px;
	left: 50px;
}
#third{
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	top: 100px;
	left: 100px;
}

#fixed-area{
	width: 100px;
	height: 100px;
	background-color: royalblue;
	position: fixed;
	/* position: sticky; */
	top: 50px;
	right: 100px;
	/* left: 100px; */
}

/* visibility 테스트 */
.visibility{
	width: 100px;
	height: 100px;
	border: 1px solid;
	margin-bottom: 5px;
}

#v-test1{
	background-color: salmon;
}
#v-test2{
	visibility: hidden;
	/* display: none; */
	background-color: hotpink;
}
#v-test3{
	background-color: skyblue;
}


/* z-index */
#z-wrap{
	height: 210px;
	position: relative;
}

.z-test{
	width: 150px;
	height: 100px;
	border: 1px solid;
	position: absolute;
}

#z1{
	background-color: steelblue;
	top: 100px;
	left: 100px;
	z-index: 999;
}

#z2{
	background-color: orange;
	top: 50px;
	left: 50px;
	z-index: 99;
}

#z3{
	background-color: seagreen;
	z-index: 2;
}

.float-test{
	border: 1px solid;
	width: 100px;
	height: 100px;
	margin: 3px;
	float: left;
	/* float: right; */
}

/* 다단 스타일 */

.column-wrap{
	border: 1px solid;
	height: 200px;
	overflow: scroll;
}

#column1{
	column-width: 300px;
	column-gap: 50px;
}

#column2{
	column-count: 5;
	/* column-rule-style: dashed; */
	column-rule: 5px dotted orange;
}

#column2>h5{
	column-span: all;
}

/* 테이블 스타일 */
table{
	/* caption-side: top; 기본값 */
	caption-side: bottom;
	width: 300px;
	height: 400px;
	border: 1px solid;
	/* border-collapse: separate; 기본값 */
	/* border-collapse: collapse; */

	border-spacing: 50px 20px;
	empty-cells: hide;
	/* 데이터가 없으면 안보이게, border-collapse: separate 일때만 */
	table-layout: fixed;
	word-break: break-all;
}

td{
	border: 1px solid;
	width: 80px;
	height: 100px;
	text-align: center;
	/* vertical-align: middle; */
	vertical-align: bottom;
}
